<!DOCTYPE html>
<meta charset="utf-8">
<% include ../partials/header.ejs %>
<link rel="stylesheet" type="text/css" href="/stylesheets/graph.css" />
<body>
<span id="username"><%=username%></span>
<script src="//d3js.org/d3.v3.min.js"></script>
<script src="/script/graph_bundle.js"></script>
<div id="sidebar"></div>
<div id="back">Go Back</div>
<script>
$(document).ready(function() {
  $('#back').click(function(){window.history.back();});
});
</script>
</body>