<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/profile.css" />
	<script src="/script/profile_bundle.js"></script>
</head>
<body>
<% include ../partials/nav.ejs %>
<div class="content">
	<div id='playlists'>
	
	</div>
	<div class="user-info panel panel-info">
	  <div class="panel-heading">
	    <h3 class="panel-title"><%= username %></h3>
	    <button onclick="auth.addFollower" method="POST"> Follow </button>
	  </div>
	  <div class="panel-body">
	    <ul class="list-group">
	    	<li class="list-group-item"><span class="badge"><strong><%= followers %></strong></span> Followers</li>
	    	<li class="list-group-item"><span class="badge"><strong>4</strong></span> Playlists</li>
	    	<li class="list-group-item divider"></li>
	    	<li class="list-group-item divider">Following</li>
	    	<li class="list-group-item divider text-info"><%= following %></li>
	    	<li class="list-group-item divider text-info"></li>
	    	<li class="list-group-item divider text-info"></li>
	    </ul>
	  </div>
	</div>
</div>
</body>
</html>